// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: Verdana,Geneva,sans-serif;
  background-image: url('congruent_outline.png');
  color: white;
}

.navbar-brand {
  font-family: 'Syncopate', sans-serif;
  font-size: 2em; 
}

.product-image {
  width: 100%;
}

.well {
  min-height: 540px;
  background-color: rgba(255, 255, 255, 0.3);
}